<article>
    <f:if condition="{seminarcontent.image} != ''">
        <f:image src="{seminarcontent.image.originalResource.publicUrl}" width="200"/>
    </f:if>

    <h1>
        {seminarcontent.title}
    </h1>

    <f:for each="{seminarcontent.events}" as="event">
        <p>
            <f:format.html>{event.date}</f:format.html>
        </p>
    </f:for>

    <strong>Zielgruppe:</strong>
    <p>
        {seminarcontent.targetgroupText}
    </p>
    <strong>
        Inhalt:
    </strong>
    <f:format.html>{seminarcontent.content}</f:format.html>

    <strong>
        Referent/in:
    </strong>
    <p>
        {seminarcontent.speaker}
    </p>

    <f:if condition="{seminarcontent.precondition} != ''">
        <strong>
            Voraussetzungen:
        </strong>
        <p>
           {seminarcontent.precondition}
        </p>
    </f:if>

    <f:if condition="{seminarcontent.fee} != ''">
        <strong>
            Teilnahmegebühr:
        </strong>
        <p>
            {seminarcontent.fee}
        </p>
    </f:if>
	<div id="events">
		<h3>
			Termin<f:if condition="{seminarcontent.events -> f:count()} > 1">e</f:if>:
		</h3>

		<f:for each="{seminarcontent.events}" as="event">
			<hr>

			<strong>
				<f:format.html>{event.date}</f:format.html>
			</strong>

			<strong>
				Ort:
			</strong>
			<f:format.html>{event.location}</f:format.html>

			<strong>
				Teilnehmerzahl:
			</strong>
			<p>
				{event.attendance}
			</p>
			<strong>
				Veranstalter:
			</strong>
			<p>
				<f:if condition="{event.provider.url} != ''">
					<f:then>
						<a href="{event.provider.url}" target="_blank"><i class="fa fa-angle-right" ></i> {event.provider.title}</a><br />
					</f:then>
					<f:else>
						{event.provider.title}<br />
					</f:else>
				</f:if>
				{event.provider.longtitle}
			</p>

			<strong>
				Anmeldeschluss:
			</strong>
			<p>
				<f:format.date format="d.m.Y">{event.deadline}</f:format.date>
			</p>

			<f:if condition="{event.url} != ''">
				<p>
					<strong><a href="{event.url}" target="_blank"><i class="fa fa-angle-right" ></i> Link zur Anmeldung</a></strong>
				</p>
			</f:if>

			<f:if condition="{event.misc} != ''">
				<strong>Sonstiges</strong>
				<p>
					{event.misc}
				</p>
			</f:if>

		</f:for>
	</div>
    <f:if condition="{seminarcontent.misc} != ''">
        <strong>
            Weitere Informationen:
        </strong>
        <f:format.html>{seminarcontent.misc}</f:format.html>
    </f:if>

</article>
<a href="javascript:window.print()"><i class="fa fa-print fa-2x functional-button"></i></a>
