<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" />
    <h2>
        Seminarfinder
    </h2>
    <div class="seminar-finder">
        <f:form method="post" name="search" object="{search}" pageUid="{settings.pageUidSearchView}">
            <div class="form-group">
                <f:form.select class="selectpicker form-control" property="subject" options="{subjects}" optionValueField="uid" optionLabelField="title" prependOptionLabel="Themen" />

                <f:form.select class="selectpicker form-control" property="targetgroup" options="{targetgroups}" optionLabelField="title" prependOptionLabel="Zielgruppe" />

                <f:form.select class="selectpicker form-control" property="provider" options="{providers}" optionLabelField="title" prependOptionLabel="Anbieter" />

                <f:form.textfield property="text" class="form-control" placeholder="Suchbegriff..." /><br />

                <input type="submit" value="FINDEN" class="form-control">
            </div>
        </f:form>
    </div>
</f:section>