<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

    <channel>
        <atom:link href="http://dallas.example.com/rss.xml" type="application/rss+xml" />

        <title>
            {title}
        </title>
        <link>
        <f:format.htmlspecialchars><f:uri.action action="list" absolute="true"  pageType="100" arguments="{seminarcontent : seminarcontent}" controller="Feed" extensionName="gwblseminar" pluginName="Feed" pageUid="{settings.pidList}" noCacheHash="true" /></f:format.htmlspecialchars>
        </link>
        <description>
            <f:format.htmlspecialchars>Bibliothekarische Fortbildung Niedersachsen</f:format.htmlspecialchars>
        </description>
        <generator>TYPO3 - get.content.right</generator>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <lastBuildDate>
            <f:format.date format="D, d M Y H:i:s O">now</f:format.date>
        </lastBuildDate>
        <f:for each="{seminarcontents}" as="seminarcontent">
            <item>

                <title>
                    <f:format.htmlspecialchars>{seminarcontent.title}</f:format.htmlspecialchars>
                </title>

                <link>
                    <f:format.htmlspecialchars><f:uri.action action="show" absolute="true"  pageType="0" arguments="{seminarcontent : seminarcontent}" controller="Seminarcontent" extensionName="gwlbseminar" pluginName="Show" pageUid="{settings.pidSingle}" /></f:format.htmlspecialchars>
                </link>

                <description>
                    <f:format.cdata>
                        <f:format.stripTags>
                            <f:format.crop maxCharacters="500" append="&nbsp;[...]">
                                    {seminarcontent.content}
                            </f:format.crop>
                        </f:format.stripTags>
                        <br /><br />
                        Zielgruppe: <ul><li><f:format.htmlspecialchars>{seminarcontent.targetgroupText}</f:format.htmlspecialchars></li></ul>
                        Termin(e):<br />
                        <ul>
                        <f:for each="{seminarcontent.events}" as="event">
                            <li>
                                <f:format.html>{event.date}<br />Veranstalter: {event.provider.title}<br />{event.location}</f:format.html>
                                Anmeldeschluss: <f:format.date format="D, d M Y">{event.deadline}</f:format.date><br />
                            </li>
                        </f:for>
                        </ul>
                    </f:format.cdata>
                </description>
            </item>
        </f:for>
    </channel>
</rss>
