
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages renderMode="div" />

    <h1>
        {header}
    </h1>
    <div>
        <p>
            Seminare
        </p>
        <f:if condition="{seminarcontents -> f:count()} >= 1">
            <f:then>
                <ul class="list-seminar list-group">
                    <f:for each="{seminarcontents}" as="seminarcontent">
                        <li class="list-group-item">
                            <b>{seminarcontent.title}</b>
                            <div>
                                <f:for each="{seminarcontent.events}" as="event">
                                    <f:format.html>{event.date}</f:format.html>
                                </f:for>
                                <f:link.action action="show" arguments="{seminarcontent : seminarcontent}"><i class="fa fa-angle-right" ></i> Zum Seminar</f:link.action>
                            </div>
                        </li>
                    </f:for>
                </ul>
				<a href="#"><i class="fa fa-chevron-circle-up fa-2x functional-button"></i></a>
				<a href="javascript:window.print()"><i class="fa fa-print fa-2x functional-button"></i></a>
				<f:link.action action="list" controller="FeedController" pluginName="Feed" pageType="100"><i class="fa fa-rss fa-2x functional-button"></i></f:link.action>
            </f:then>
            <f:else>
                <p>
                    Zu Ihrer Suche konnten keine Ergebnisse gefunden werden.
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
