
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<a href="javascript:window.history.back();"><i class="fa fa-angle-left"></i> Zurück zur Listenansicht</a><br />
<f:flashMessages renderMode="div" />
<f:render partial="Seminarcontent/Properties" arguments="{seminarcontent:seminarcontent}" />
</f:section>
